.idea/compiler.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/YoutubeSeleniumAutomation.iml
Tes/Tes.iml
*.class
Tes/.idea/libraries/*.xml
Tes/target/picture-for-allure/
Tes/target/surefire-reports/
