.idea/compiler.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/YoutubeSeleniumAutomation.iml
Tes/Tes.iml
Tes/target/allure-results/b8f272b3-67b3-46d1-90d4-69236fde61bf-testsuite.xml
Tes/target/test-classes/Global/Core.class
Tes/target/test-classes/Website/Tests/AfterRegistrationTests/PlaylistTests.class
Tes/target/test-classes/Website/Tests/LoginLogoutTests/SignInAndSignOut.class
*.class
Tes/.idea/compiler.xml
Tes/.idea/misc.xml
Tes/.idea/modules.xml
Tes/.idea/vcs.xml
Tes/.idea/workspace.xml
Tes/.idea/libraries/Maven__cglib_cglib_nodep_3_2_4.xml
Tes/.idea/libraries/Maven__com_beust_jcommander_1_27.xml
Tes/.idea/libraries/Maven__com_google_code_findbugs_jsr305_1_3_9.xml
Tes/.idea/libraries/Maven__com_google_code_gson_gson_2_8_0.xml
Tes/.idea/libraries/Maven__com_google_errorprone_error_prone_annotations_2_0_18.xml
Tes/.idea/libraries/Maven__com_google_guava_guava_23_0.xml
Tes/.idea/libraries/Maven__com_google_j2objc_j2objc_annotations_1_1.xml
Tes/.idea/libraries/Maven__commons_codec_commons_codec_1_10.xml
Tes/.idea/libraries/Maven__commons_logging_commons_logging_1_2.xml
Tes/.idea/libraries/Maven__junit_junit_3_8_1.xml
Tes/.idea/libraries/Maven__net_java_dev_jna_jna_4_1_0.xml
Tes/.idea/libraries/Maven__net_java_dev_jna_jna_platform_4_1_0.xml
Tes/.idea/libraries/Maven__org_apache_commons_commons_exec_1_3.xml
Tes/.idea/libraries/Maven__org_apache_httpcomponents_httpclient_4_5_3.xml
Tes/.idea/libraries/Maven__org_apache_httpcomponents_httpcore_4_4_6.xml
Tes/.idea/libraries/Maven__org_beanshell_bsh_2_0b4.xml
Tes/.idea/libraries/Maven__org_codehaus_mojo_animal_sniffer_annotations_1_14.xml
Tes/.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
Tes/.idea/libraries/Maven__org_seleniumhq_selenium_selenium_api_3_5_1.xml
Tes/.idea/libraries/Maven__org_seleniumhq_selenium_selenium_chrome_driver_3_5_1.xml
Tes/.idea/libraries/Maven__org_seleniumhq_selenium_selenium_remote_driver_3_5_1.xml
Tes/.idea/libraries/Maven__org_seleniumhq_selenium_selenium_support_3_5_2.xml
Tes/.idea/libraries/Maven__org_testng_testng_6_8.xml
Tes/.idea/libraries/Maven__org_yaml_snakeyaml_1_6.xml
